__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
MANIFEST
PROJECT.md
venv/
env/
ENV/
.venv/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
artifacts/raw/*.h5
artifacts/raw/*.hdf5
artifacts/raw/*.zip
artifacts/raw/*.npz
artifacts/ingested/*
!artifacts/ingested/.gitkeep
artifacts/transformed/*
!artifacts/transformed/.gitkeep
artifacts/models/*.joblib
artifacts/models/*.pkl
artifacts/models/*.h5
artifacts/raw/*.png
artifacts/logs/*
!artifacts/logs/.gitkeep
logs/*
!logs/.gitkeep
notebooks/logs/*
!notebooks/logs/.gitkeep
*.log
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.npy
*.npz
side-channel-ml.egg-info/
!.gitkeep
!**/.gitkeep
PROJECT.md